body p{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
.main-div .container-fluid{
    max-width: 1280px;
}
img{
    max-width: 100%;
}
.all-bg{
    background-color: #f9fafb;
}
body .btn-primary{
    background-color: #e83b3e !important;
    border: 1px solid #e83b3e;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    border-color: #111;
    z-index: -1;
    transition: .4s;
  
}
body .btn-primary:hover::after{
    width: 100%;

}
/* vnavbar-design */
.main-div{
    background-color: #fafafa;
}
ul.primary-menu li{
}
ul.primary-menu li{
    display: inline-block
}
ul.primary-menu li a{ 
    display: inline-block;
    padding: 10px 25px;
    color: #111;
    text-decoration: none;
}
ul.primary-menu li a:hover{
    color:#e83b3e;
}
.header-item-search{
    width: 60px;
}
.header-item-contact{
    width: 200px;
}

.header-item-call-icon {
    color: #e83b3e;
    font-size: 25px;
    height: 100%;
}
.header-item-search {
    font-size: 22px;
    border-right: 2px solid #ddd;
    margin-right: 15px;
}
.header-item-call-contact{
    margin-right: 10px;
}
.header-item-call-contact span{
    font-weight: 600;
    color: #111
}
.header-item-call-contact a{
    color: #111;
}
.header-item-call-icon span {
    font-size: 30px;
    color: #111;
}
.btn-primary{

}

/* dropdown section */
ul.primary-menu li{
    position: relative;
}
ul.primary-menu li .our-drop{
    position: absolute;
    left:0;
    top:140%;
    background-color: #fafafa;
    width: 200px;
    padding: 10px;
    list-style: none;
    opacity:0; 
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.primary-menu li:hover .our-drop{
    visibility: visible;
    opacity: 1;
    top:100%;
}
.primary-menu li .our-drop li{
    flex-direction: column;
    display: block;
}
/* slider-section */
.slider-item-wrap{
    height: 120vh;
    align-items: center;
    position: relative;
}
.slider{
    background: url(image/main-banner2.jpg) no-repeat top center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}
.slider-social{
    position: absolute;
    bottom: 0;
    left:0;
    
}
.slider-social ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.slider-social ul li a{
    display: inline-block;
    color: #111;
    padding: 0px 10px;
}
.slider-social ul li span{
    display: inline-block;
    color: #111;
    padding: 0px 10px;
    position: relative;
    margin-right: 50px;
    
}
.slider-social ul li span::after {
    content: "";
    background-color: #111;
    height: 1px;
    position: absolute;
    top: 50%;
    right: -46px;
    width: 50px;
}
.slider-content h6 {
    color: #e83b3e;
    font-size: 20px;
    margin: 10px 0px;
}
.slider-content h1 {
    font-weight: 600;
    font-size: 60;
    font-size: 50px;
    margin: 10px 0px;
}

/* logo-section */
.logo-section{
    border-bottom: 1px solid #e5e5e5;
    margin: 30px 0px;
}
.logo-menu ul{
    list-style: none;
    padding-left: 0px;
} 
/* about section */
.about-img{
    position: relative;
}
.about-shap {
    background-image: url(image/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 12px;
    height: 166px;
    width: 180px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-shap h2{
    color: #e83b3e;
    font-size: 40px;
}
.about-shap strong{
    font-size: 15px;
}

.finix-text ul{
    list-style: none;
}
.finix-text ul li{
    
}
.finix-text ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 free';
    font-weight: 700;
    color: #e83b3e;
    margin-right: 10px;
}
/* <!-- when we chosse  left site design--> */
.finix-text h6 {
    color: #e73c3e;
}
.finix-text{
    position: relative;
}

.play-btn{
    color: #e73c3e;
    font-size: 50px;
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 80px;
    position: absolute;
    right: 185px;
    bottom: 64px;
}
.play-btn::before{
    content: "";
    height: 80px;
    width: 80px;
    background-color: #e83b3e;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: playbtn 1.3s ease-in-out infinite;
}
.play-btn:hover{
    color: #ffffff;
    background-color: #e73c3e;
}

@keyframes playbtn {
    0%,30%   {
        transform: scale(0);
        opacity: 1;
    }
  
    50%  {  transform: scale(1.2);
        opacity: 0.7;
    }
    100% {  transform: scale(1.5);
        opacity: 0;}
  }
  /* when-chosse right side */
  .featears-item {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: .6s;
}
.featears-item:hover{
    transform: translateY(-20px);
}
.featears-item::before {
    content: "";
    position: absolute;
    top: -173px;
    left: 0;
    right: 0;
    margin: auto;
    height: 70px;
    height: 90%;
    width: 80%;
    border-radius: 50%;
    background-color: #f8e6e6;
}
.featears-icon{
    position: relative;
}

.featears-icon i{
    color: #e83b3e;
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    line-height: 58px;
    font-size: 37px;
    border-radius: 50%;
}
.featears-item:hover .featears-icon i{
    color: #ffffff;
    background-color: #e83b3e;;
}
.mtop{
    margin-top: -20px;
}
/* apply-section left */
.apply-item{
   
}
.apply-item ul{
    list-style: none;
    position: relative;
}
.apply-item ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    /* height: 87%; */
    height: calc(100% - 54px);
    background-color: #e73c3e;
}
.apply-item ul li{
    position: relative;
    padding-left: 20px;
}
.apply-item ul li::before {
    content: attr(data-counter);
    position: absolute;
    left: -52px;
    right: 0;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: #f9fafb;
    border: 1px solid #ea6061;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.apply-item ul li p{}
.apply-item ul li strong {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
/* /* apply-section right */
.form-section{
    background-color: #fdebeb;
    padding: 50px;
}
.form-input-section{
    margin-bottom: 20px;
}
.form-group{}
.form-group label {
    margin: 15px 0px;
}
.form-group input{}

/* call=to=us */
.call-to-text{
    background-color: #e73c3e;
    padding: 30px;
}
h2.call-h2 {
    color: white;
    font-weight: 400;
    font-size: 31px;
    border-right: 1px solid #ffff;
    margin-right: 10px;
}
.call-to-us-phone span{}
.call-to-us-phone span i {
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #e73c3e;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 58px;
}
.call-to-us-phone a{
        color: white;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
    /* <!-- company values section --> */
    .company-value h2{}
    .company-item-icon i {
        color: #e85052;
        font-size: 40px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 60px;
    }
    .company-item-text span {
        color: #111111;
        font-size: 25px;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
    }
    .company-item-text p {
        color: #7a6060;
    }

    /* service-section */
    .service-tab-item {
        border-bottom: 2px solid #dddd;
    }
    .service-tab-item li{
        flex: 1 1 auto;
    }
    
    .service-tab-item li a span i {
        height: 59px;
        width: 58px;
        text-align: center;
        font-size: 25px;
        line-height: 57px;
        border-radius: 50%;
        background-color: #ffffff;
        color: #6c6460;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    }
    .service-tab-item li a:hover span i{
        color: red;
    }
    .service-tab-item li a:hover{
        position: relative;
    }
    .service-tab-item li a:hover::after{
        content: "";
        height: 1px;
        width: 180px;
        background-color: red;
        position: absolute;
        left: 0px;
        bottom: 0px;
        overflow: hidden;

    }

    .service-tab-item li a strong {
        color: #000000;
        font-size: 20px;
        margin: 13px 0px;
    }

    .service-tab-content ul{
        list-style: none;
        padding-left: 0px;
    }
    .service-tab-content ul li{
        position: relative;
    }
    .service-tab-content ul li::before {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: #e83b3e;
        border-radius: 50%;
        margin-right: 15px;
    }
    /* testmonial-section */
    .testmonial-content{}
    .testmonial-content p {
        font-size: 20px;
    }
    .testmonial-content h3 {
        font-size: 20px;
        color: #e73c3e;
    }
    .testmonial-content p.testmonial-content-designation {
        font-size: 15px;
    }
    .client-image{
        position: relative;
    }
    .image-icon {
        position: absolute;
        height: 70px;
        width: 70px;
        text-align: center;
        background-color: #fff;
        left: 71px;
        bottom: 64px;
        line-height: 76px;
        border-radius: 50%;
    }
    .image-icon i {
        font-size: 25px;
        color: #e73c3e;
    }
    .image-icon:hover {
        background-color: #e73c3e;
    }
    .image-icon:hover.image-icon i{
        color: #ffffff;
    }
    /* team section */
    .member-social-icon ul {
        list-style: none;
        padding-left: 0px;
        margin: auto;
        /* display: block; */
        text-align: center;
        margin-bottom: -21px;
    }
    .member-social-icon ul li {
        display: inline-block;
        margin-bottom: 10px;
        transition: .5s ease-in-out;
        transform: translateY(40px);
        opacity: 0;
        visibility: hidden;
    }
    .member-social-icon ul li a {
        display: block;
        font-size: 17px;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        line-height: 30px;
        color: black;
    }
    .member-image{
        position: relative;
    }
    .member-social-icon {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 40px;
        margin: auto;
    }
    .member-image:hover .member-social-icon ul li{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .member-image  .member-social-icon ul li:nth-child(1){
        transition-delay: .2s;
    }
    .member-image .member-social-icon ul li:nth-child(2){
        transition-delay: .4s;
    }
    .member-image .member-social-icon ul li:nth-child(3){
        transition-delay: .6s;
    }
    .member-image .member-social-icon ul li:nth-child(4){
        transition-delay: .8s;
    }
    .member-social-icon ul li a:hover{
        background-color: #e73c3e;
        color: #fff;
    }
    
    .member-content h3 {
        font-size: 20px;
        color: #e83b3e;
        margin: 10px 0px;
    }
    /* blog-section */
.blog-item{}
.blog-thumbnai a{
    text-decoration:none;
    display: inline-block;
}
.blog-content{
    padding: 10px 0px;
}
.blog-content span {
    color: #e83b3e;
    display: block;
}
.blog-content a{
    text-decoration: none;
    display:inline-block;
}
.blog-content a h3 {
    color: #222;
    font-size: 25px;
}
.blog-content a p {
    color: #222;
    transition: .4s;
}
.blog-item:hover .blog-content a p{
    color: #e85052;
    letter-spacing:1.5px;
}
.blog-content a h3:hover{
    color: #e85052;
}

/* footer-section */
.footer{
    background-color: #222;
}
.footer-bottom p{
    color: #606060;
    margin-bottom: 0;
}
.footer-bottom p a{
    text-decoration: none;
    color: #dddd;
    margin-left: 5px;
    
}
/* .footer-top */
/*  */
.footer-top{
    border-bottom: 1px solid #444;
}
.footer-widget h3,a,span{
    color: #ffffff;
}
.footer-widget p {
    padding: 10px 0px;
    color: #ddd;
}
.footer-social {}
.footer-social ul span{
    display: inline-block;
}
.footer-social ul{
    padding-left: 0px;
    margin-bottom: 0px;
    
}
.footer-widget .footer-social ul li{
    display: inline-block;

}
.footer-social ul li a {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 0px 10px;
}
.footer-social ul li a:hover {
    color: #e85052;
}
 /* 2nd-col */
.footer-widget{}
.footer-widget h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer-widget ul{
    list-style: none;
    padding-left: 0;
}
.footer-widget ul li{
    display:block;
}
.footer-widget ul li a{
    display:block;
    text-decoration: none;
    transition: .4s;
}
.footer-widget ul li a:hover{
    color: #e85052;
    letter-spacing:1.5px;
}

.contact-us-item{
    margin-bottom: 10px;
}
.contact-us .contact-us-item span{
    display: inline-block;
}
.contact-us .contact-us-item span i{
    font-size: 20px;
    margin-right: 10px;
}
.contact-us .contact-us-item a{
    text-decoration: none; 
    display: inline-block;
   
}
.contact-us .contact-us-item a:hover{
    color:#e85052;
}
.footer-widget li:hover{
    color:#e85052;
}







